*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 80vh;
    background-color: black;
    position: relative;
}
.slider-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(30%);
}

.slider-content{
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
    text-align: center; 
}
.slider-content h1{
    color: white;
    font-size: 4rem;
}
.dark h2{
    color: rgb(253, 246, 246);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 150px;
}

.slider-content p{
    color: white;
    font-size: 2rem;
}
.about{
    padding: 100px;
    display: flex;
}
.about h2{
    color: black;
    
}
.w40{
    width: 40%;
}
.w60{
    width: 60%;
}
.w25{
    width: 25%;
}
.w32{
    width: 32%;
}
.text-center{
    text-align: center;
}
.competences{
    padding: 100px;
    
}
.box-competences{
    display: flex;
    gap: 20px;
}

.dark{
    background: black;
}

.compence{
    background: white;
    padding: 20px;
    border-radius: 10px;
}
.compence img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    aspect-ratio: 1/1;
}


.realisations{
    padding: 100px ;
}
.realisations h2{
    color: black;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 150px;
}
.realisation{
    position: relative;
    box-shadow: 10px 10px 5px rgb(131, 131, 134);
}
.realisation:hover{
    
    box-shadow: 10px 10px 5px rgb(24, 24, 24);
}
.realisation a{
    display: block;
    width: 100%;
    height: 100%;
}

.realisation img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    filter: brightness(50%);
}
.realisation img:hover{
    filter: brightness(80%);
    
    
}
.realisation p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    width: max-content;
}
.box-realisations{
    display: flex;
    gap: 20px;
}